body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('ruta/a/tu/imagen-de-fondo.jpg'); /* Reemplaza 'ruta/a/tu/imagen-de-fondo.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: rgba(46, 204, 113, 0.7); /* Color verdoso con transparencia */
    padding: 20px;
    border-radius: 10px;
}

.security-info {
    margin-top: 20px;
}

.location {
    color: #e74c3c; /* Color rojo para la ubicación */
}

.username {
    color: #3498db; /* Color azul para el nombre de usuario */
}
